APP_NAME=BLOG
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
# docker-compose.yaml 文件里的 services 名称对应
APP_SERVICE=blog
# docker-compose.yaml 文件里的 ${APP_PORT:-80} 对应端口号
APP_PORT=3925
# docker-compose.yaml 文件里的 ${VITE_PORT:-5173} 对应端口号
VITE_PORT=5174
# docker-compose.yaml 文件里的 ${FORWARD_DB_PORT:-3306} 对应端口号 mysql
FORWARD_DB_PORT=3307
# docker-compose.yaml 文件里的 ${FORWARD_REDIS_PORT:-6379} 对应端口号 redis
FORWARD_REDIS_PORT=6380
# docker-compose.yaml 文件里的 ${FORWARD_MAILPIT_PORT:-1025} 对应端口号 mailpit
FORWARD_MAILPIT_PORT=1026
# docker-compose.yaml 文件里的 ${FORWARD_MAILPIT_DASHBOARD_PORT:-8025} 对应端口号 mailpit
FORWARD_MAILPIT_DASHBOARD_PORT=8026
# docker-compose.yaml 文件里的 ${NGINX_PORT:-80} 对应端口号 nginx 80 端口
NGINX_PORT=8001
# docker-compose.yaml 文件里的 ${NGINX_SSL_PORT:-443} 对应端口号 nginx 443 端口
NGINX_SSL_PORT=44

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# 上传图片地址
IMG_URL=${APP_URL}/uploads

# aliyun 短信
SMS_ALIYUN_ACCESS_KEY_ID=
SMS_ALIYUN_ACCESS_KEY_SECRET=
SMS_ALIYUN_TEMPLATE_REGISTER=

# amap 高德地图天气接口
WEATHER_AMAP_KEY=

# jwt 令牌
JWT_SECRET=
JWT_ALGO=HS256
#生成的 token 在多少分钟后过期，默认 60 分钟
JWT_TTL=60
#生成的 token，在多少分钟内，可以刷新获取一个新 token，默认 20160 分钟，14 天
JWT_REFRESH_TTL=20160
#防止因为黑名单的关系使同一个 token 并发请求出现部分请求失败(秒为单位)
JWT_BLACKLIST_GRACE_PERIOD=

# 七牛云配置
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_DOMAIN=

# laravel-query-logger 扩展包配置,对 sql 语句进行打印输出(true 在日志中打印, false 不打印)
LOG_QUERY=false

# socialite weixin
WEIXIN_KEY=
WEIXIN_SECRET=

# easywechat 微信小程序
WECHAT_MINI_APP_APPID=
WECHAT_MINI_APP_SECRET=
